<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stagepfe">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activity.Doctors.AddAnalyseOrdonnanceActivity"></activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity android:name=".Activity.AgentLabo.UpdateProfileAgentActivity" />
        <activity android:name=".Activity.AgentLabo.ModifyPasswordAgentActivity" />
        <activity android:name=".Activity.AgentLabo.ChangeInformationAgentActivity" />
        <activity android:name=".Activity.Pharmacien.UpdateProfilePharmacienActivity" />
        <activity android:name=".Activity.Pharmacien.ModifyPasswordPharmacienActivity" />
        <activity android:name=".Activity.Pharmacien.ChangeInformationPharmacienActivity" />
        <activity android:name=".Activity.Patients.UpdateProfilePatientActivity" />
        <activity android:name=".Activity.Patients.ModifyPasswordPatientActivity" />
        <activity android:name=".Activity.Patients.ChangeInformationPatientActivity" />
        <activity android:name=".Activity.Doctors.ModifyPasswordActivity" />
        <activity android:name=".Activity.Doctors.ChangeInformationDoctorActivity" />
        <activity android:name=".Activity.Doctors.UpdateProfileDoctorActivity" />
        <activity android:name=".Activity.Doctors.AddRapportDoctorActivity" />
        <activity android:name=".Activity.Doctors.AddOrdonanceDoctorActivity" />
        <activity android:name=".Activity.Patients.ShowProfilDoctorToPatientActivity" />
        <activity android:name=".Activity.Patients.CheckRDVPatientActivity" />
        <activity android:name=".Activity.Patients.AddRDVToPatientActivity" />
        <activity android:name=".Activity.Doctors.AddRDVToFbDoctorActivity" />
        <activity android:name=".Activity.Administrateur.AccueilAdministrateurActivity" />
        <activity android:name=".Activity.AgentLabo.ProfilAgentLaboActivity" />
        <activity android:name=".Activity.AgentLabo.AccueilAgentLaboActivity" />
        <activity android:name=".Activity.Pharmacien.ProfilPharmacienActivity" />
        <activity android:name=".Activity.Pharmacien.AccueilPharmacienActivity" />
        <activity android:name=".Activity.Doctors.CheckRDVActivity" />
        <activity android:name=".Activity.Doctors.ShowInfoPatientForDoctorActivity" />
        <activity android:name=".Activity.Patients.BottomBarPatientActivity" />
        <activity android:name=".Activity.Patients.ProfilePatientActivity" />
        <activity android:name=".Activity.Doctors.DoctorProfilActivity" />
        <activity android:name=".Activity.Authentication.ContainerFragmentPasswordActivity" />
        <activity android:name=".Activity.Authentication.AuthenticationFragmentContainerActivity" />
        <activity android:name=".Activity.Doctors.AccountDoctorActivity" />
        <activity android:name=".MainPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>