<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stagepfe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activity.Doctors.AddRapportDoctorActivity"></activity>
        <activity android:name=".Activity.Doctors.AddOrdonanceDoctorActivity" />
        <activity android:name=".Activity.Patients.ShowProfilDoctorToPatientActivity" />
        <activity android:name=".Activity.Patients.CheckRDVPatientActivity" />
        <activity android:name=".Activity.Patients.AddRDVToPatientActivity" />
        <activity android:name=".Activity.Doctors.AddRDVToFbDoctorActivity" />
        <activity android:name=".Activity.Administrateur.AccueilAdministrateurActivity" />
        <activity android:name=".Activity.AgentLabo.ProfilAgentLaboActivity" />
        <activity android:name=".Activity.AgentLabo.AccueilAgentLaboActivity" />
        <activity android:name=".Activity.Pharmacien.ProfilPharmacienActivity" />
        <activity android:name=".Activity.Pharmacien.AccueilPharmacienActivity" />
        <activity android:name=".Activity.Doctors.CheckRDVActivity" />
        <activity android:name=".Activity.Doctors.ShowInfoPatientForDoctorActivity" />
        <activity android:name=".Activity.Patients.BottomBarPatientActivity" />
        <activity android:name=".Activity.Patients.ProfilePatientActivity" />
        <activity android:name=".Activity.Doctors.DoctorProfilActivity" />
        <activity android:name=".Activity.Authentication.ContainerFragmentPasswordActivity" />
        <activity android:name=".Activity.Authentication.AuthenticationFragmentContainerActivity" />
        <activity android:name=".Activity.Doctors.AccountDoctorActivity" />
        <activity android:name=".MainPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>